@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #495057;
  overflow-x: hidden;
}

.container {
  max-width: 1328px;
  margin: auto;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
}

.link:hover,
.link:active {
  color: inherit;
}
