/* 
--- 01 TYPOGRAPHY SYSTEM

    - FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

    - Line Heights
    Default: 1
    small: 1.05
    Medium: 1.2
    paragraph default: 1.6
    Large: 1.8

    - Letter Spacing
    -0.5px
    0.75px


    --- 02 COLORS

    - PRIMARY: 
    - Tints: 
    - Shades: 
    - Accents: #9f2089
    - Greys: 
    #aaa
    #ccc
    #343a40

    --- 03 SHADOWS
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


    --- 04 BORDER RADIUS
    Default: 4px

    --- 05 WHITESPACE

    - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* ****************************** */
/* *********** HEADER *********** */
/* ****************************** */
.header-container {
  position: sticky;
  top: 0px;
  left: 0px;
}

.header {
  border-bottom: 1px solid #999;
  height: 7.2rem;
}

.main-nav {
  display: flex;
  gap: 3.2rem;
  height: 100%;
}

.v-center {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 3.6rem;
}

.search-bar {
  flex-grow: 1;
}

.search-input {
  display: inline-block;
  width: 40rem;
  overflow: hidden;

  border: 1px solid #aaa;
  border-radius: 4px;
  outline: transparent;

  position: relative;
}

.search-input input {
  width: 100%;
  padding: 1.2rem;
  padding-left: 4rem;
  font-size: 1.6rem;

  border: none;
  outline: transparent;
}

.search-input::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);

  width: 2rem;
  height: 2rem;

  background-image: url("./assets/meesho/search-icon.svg");
  background-size: contain;
}

input:focus {
  box-shadow: inset 1px 1px 3px rgb(159, 32, 137, 0.5);
}

.nav {
  margin-left: auto;
}

.nav .menu {
  list-style: none;
  display: flex;
  height: 100%;
  gap: 1.6rem;
}

.menu-item--download-app {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.nav-menu-icon {
  height: 2.4rem;
  stroke: currentColor;
}

.nav-link {
  padding: 1rem;
  padding-right: 2.4rem;
}

.border-b-2 {
  border-right: 3px solid #ccc;
}

.nav-actions {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  height: 100%;
  justify-content: center;
}

.nav-icon {
  height: 2.2rem;
  width: 2.2rem;
  stroke: currentColor;
}

.nav-hover {
  border-bottom: 2px solid transparent;
}

.nav-hover:hover {
  color: #9f2089;
  border-bottom: 3px solid #9f2089;
}

.profile-link {
  position: relative;
}

.profile-link .account-options {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  padding: 2.4rem;
  background-color: #fff;
  border: 1px solid #999;

  display: none;
}

.user-name {
  display: block;
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.profile-link:hover .account-options {
  display: block;
}

.cart-icon {
  position: relative;
}

.cart-icon .item-count {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(100%, -50%);

  font-size: 1.2rem;
  font-weight: 500;
  color: #9f2089;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background-color: #ddd;
}

/* ****************************** */
/* ********SUB HEADER *********** */
/* ****************************** */

.sub-header {
  border-bottom: 1px solid #999;
}

.category-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.category {
  font-size: 1.6rem;
  padding: 2rem;
  cursor: pointer;
  text-transform: capitalize;
}

.category:hover a {
  transform: translateY(-1px);
}

/* ****************************** */
/* ******* Products *********** */
/* ****************************** */
.product-catalog-title {
  display: block;
  font-size: 3rem;
  padding: 2.4rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.product {
  display: flex;
  flex-direction: column;
  width: 24rem;

  border: 1px solid #ccc;
  border-radius: 6px;
}

.img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}

.product-img {
  margin: auto;
  max-height: 22.7rem;
  max-width: 22rem;
}

.product-details {
  padding: 1.2rem;
}

.product-title {
  width: 100%;
  color: #999;
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  margin-top: 1rem;
}

.price {
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: 1rem;
  padding: 0.5rem;

  display: inline-block;
}

.mrp {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: line-through;
  color: #aaa;
  margin-right: 1rem;
}

.off-percent {
  display: inline-block;
  color: green;
  font-size: 1.8rem;
  font-weight: 500;
}

.delivery-type {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;

  display: inline-block;
  background-color: #eee;
  padding: 0.8rem;
  border-radius: 100px;
  margin-top: 1rem;
}

.reviews {
  margin-top: 1rem;
}

.reviews-count {
  font-size: 1.4rem;
  font-weight: 700;
  color: #888;
  margin-left: 0.4rem;
}

/* ***************************** */
/* ******** Checkout *********** */
/* ***************************** */
.checkout-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: end;
}

.checkout-header {
  grid-column: 1/-1;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.checkout-nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  height: 7.2rem;
}

.logo-img--checkout {
  justify-self: start;
}

.outlet {
  margin: 3.2rem;
}

.checkout-layout .start-shopping-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: #fff;
  padding: 1.6rem 3.2rem;
}

/* ***************************** */
/* ***** Cart Products ********* */
/* ***************************** */

.cart-container {
  padding: 0 3.2rem 3.2rem 0;
  border-right: 1px solid #ccc;
}

.cart-products {
  margin-top: 2.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* Cart Product Details */
.cart-product-details {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.cart-product-details section {
  display: flex;
  border-bottom: 1px solid #ccc;
  gap: 1rem;
  padding: 1.6rem;
  width: 60rem;
}

.cart-product-details .cart-product-img {
  height: 6.4rem;
  width: 6.4rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.cart-product-details .description {
  flex-grow: 1;
}

.cart-product-details .description .title {
  font-size: 1.6rem;
  font-weight: 500;
}

.cart-product-details .description .description-text {
  margin-top: 1.2rem;
  font-size: 1.6rem;
}

.cart-product-details .remove-btn {
  margin-top: 2.4rem;
  text-transform: uppercase;
}

.link.cart-product-edit {
  text-transform: uppercase;
  color: #9f2089;
}

.cart-product-details footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  padding: 1.6rem;
}

.cart-product-details footer .sold-by .seller {
  text-transform: uppercase;
}

/* ***************************** */
/* ***** Cart Price Details ** */
/* ***************************** */

.price-details-container {
  margin: 3.2rem;
  justify-self: start;
  width: 40rem;
}

.price-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.4rem 0;

  font-size: 1.6rem;
}

.price-type .price-type-text {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.price-type--discount {
  color: #0ec884;
}

.price-type--total {
  padding-top: 3.2rem;
  border-top: 1px solid #ccc;
  font-size: 2rem;
}

.price-type--total .price-type-text {
  text-decoration: none;
}

.link--address {
  width: 100%;
}

.proceed-btn {
  width: 100%;
  padding: 1.6rem 3.2rem;
  border-radius: 6px;
  font-weight: 700;
}

/* ***************************** */
/* ***** Address *************** */
/* ***************************** */

.choose-address .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.btn--add-address {
  color: #9f2089;
  font-size: 1.8rem;
  font-weight: 700;
}

.del-address {
  padding: 2.4rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1.6rem;
  cursor: pointer;

  display: flex;
  gap: 2.4rem;
}

.del-address.selected {
  background-color: #e7eefe;
}

.del-address .radio-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #888;
  display: none;
}

.del-address .radio-icon.selected {
  stroke: #9f2089;
}

.del-address .radio-icon.radio-icon-selected {
  display: block;
}

.btn--deliver {
  width: 100%;
  padding: 1.4rem 2.8rem;
  font-weight: 700;
  border-radius: 6px;

  display: none;
}

.del-address.selected .btn--deliver {
  display: block;
}

/* Address Card */
.address-card {
  padding: 2.4rem;
  padding-left: 0;
  padding-top: 0;
  max-width: 50rem;
}

.address-card .name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.address-card .address {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.address-card .contact-no {
  font-size: 1.6rem;
}
