.inputWrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  height: 4.8rem;
}

.label {
  font-size: 1.4rem;
  font-weight: 500;
}

.inputWrapper.heightZero .label {
  color: #999;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transform: translateY(150%);

  transition: all 0.2s;
}

.inputWrapper:focus-within .label {
  color: #9f2089;
  font-weight: 500;
  transform: translateY(0);
}

.input {
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  font-size: 1.4rem;
  padding: 0.8rem 0.2rem;

  transition: all 0.1s;
}

.input:not(:focus).heightZero {
  height: 0;
}

.input:focus {
  border-bottom: 2px solid #9f2089;
}
