/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

- Line Heights
  Default: 1
  small: 1.05
  Medium: 1.2
  paragraph default: 1.6

--- 02 COLORS

  primary: #f8f9fa, #0c101d
  tints:
  shades: #adb5bd,
  greys: #777f8d, #868e96, #343a40
  accents: #228be6
  shades: #1c7ed6

--- 04 BORDER RADIUS
  Default: 11px
  medium:
  large: 20px


--- 05 WHITESPACE
- SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* 

    - Letter Spacing
    -0.5px
    0.75px


    --- 02 COLORS

    - PRIMARY: #e67e22
    - Tints: #fdf2e9, #eb984e
    - Shades: #cf711f, #45260a
    - Accents:
    - Greys: 
    #888
    #767676
    #555
    #333
    #ddd
    #6f6f6f (lightest grey allowed on #fdf2e9)

    --- 03 SHADOWS
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f8f9fa;

  /* background-color: black; */

  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.6rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #f8f9fa;
}

.btn {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 1rem 1.6rem;
  border-radius: 11px;
  font-weight: 600;
}

.btn--text {
  background: transparent;
  padding: 0;
}

.svg-icon {
  display: block;
}

.dropdown-icon {
  color: #868e96;
  height: 1.8rem;
  width: 1.8rem;
}

/* ********************** */
/* **** Root Layout ***** */
/* ********************** */

.root-layout {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2.3rem;
  height: 75rem;
}

/* ********************** */
/* **** Header ********** */
/* ********************** */
.header {
  grid-column: 1/-1;
  background-color: #0c101d;
  border-radius: 20px;
  padding: 2rem;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.burger-btn {
  background-color: transparent;
  border: none;
}

.burger-icon {
  height: 3.2rem;
  width: 3.2rem;
  stroke: #1c7ed6;
}

.banner {
  font-size: 1.8rem;
  font-weight: 600;
  color: #228be6;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #adb5bd;
}

.location-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.location-text {
  font-size: 1.4rem;
}

/* Location Search Bar */
.location-search-bar {
  flex-grow: 1;
}

.search-bar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  padding-left: 4.8rem;
  border-left: 1px solid #495057;
  border-top: 1px solid #495057;
  border-bottom: 1px solid #495057;
  border-radius: 11px;
}

.search-bar-input {
  color: #f8f9fa;
  padding: 1.2rem 0;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  flex-grow: 1;
}

.search-bar-input:focus {
  outline: transparent;
}

.search-bar::before {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;

  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);

  background-image: url("./assets/search-icon.svg");
}

.locate-button {
  cursor: pointer;
  border: none;
  padding: 0 1.2rem;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color: #343a40;
}

.locate-icon {
  height: 2rem;
  width: 2rem;
  stroke: #adb5bd;
}

.search-results {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  list-style: none;
  width: 100%;
  overflow: scroll;
  max-height: 0;
  border-radius: 11px;
  transition: all 0.3s;
}

.search-bar-input:focus ~ .search-results {
  max-height: 30rem;
}

.search-results .search-result {
  padding: 1.6rem;
  background-color: #141e30;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-results .search-result:hover {
  background-color: #0c101d;
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-left: auto;
  background-color: #f8f9fa;
}

.theme-icon {
  height: 1.8rem;
  width: 1.8rem;
}

.header-icon {
  color: #868e96;
  height: 2.4rem;
  width: 2.4rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.profile-picture {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.profile .name {
  color: #adb5bd;
  font-size: 1.4rem;
}

/* ********************** */
/* **** Weather Dashboard */
/* ********************** */

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.current-weather-card {
  grid-column: 1/-1;

  background-color: #0c101d;
  border-radius: 20px;
  padding: 3.2rem;
}

.current-weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Current Weather Card */
.current-weather-card .title {
  color: #868e96;
  font-size: 1.2rem;
}

.temperature-scale {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #868e96;
  font-size: 1.2rem;
}

.current-time {
  margin: 0.8rem 0;
  font-size: 1.6rem;
}

.current-weather-body {
  display: flex;
  align-items: center;
  margin: 3.2rem 0;
  gap: 1.6rem;
}

.current-weather-icon {
  height: 6.4rem;
  width: 6.4rem;
}

.current-temperature {
  display: flex;
  align-items: start;
}

.current-temperature .value {
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.current-temperature .scale {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.weather-condition {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 1.6rem;
}

.weather-condition .title {
  color: #228be6;
  font-size: 1.2rem;
}

.weather-condition .feels-like {
  font-size: 1.2rem;
  color: #868e96;
}

.weather-summary {
  font-size: 1.6rem;
  color: #868e96;
}

/* Weather metric card */
.weather-metric-card {
  background-color: #0c101d;
  padding: 2.4rem;
  border-radius: 11px;
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.icon {
  text-align: center;
}

.weather-metric-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #495057;
}

.weather-metric-card .icon {
  grid-row: 1/-1;
}

.weather-metric-card .title {
  font-size: 1.2rem;
  color: #868e96;
}

.weather-metric-card .value {
  font-size: 1.8rem;
  color: #adb5bd;
}

/* Sun moon summary */

.sun-moon-summary {
  grid-column: 1/-1;
  border-radius: 20px;
  height: 18rem;
  background-color: #0c101d;
  padding: 2.4rem;
}

.sun-moon-title {
  font-size: 1.2rem;
  color: #868e96;
}

.sun-moon-content {
  display: flex;
  justify-content: space-around;
}

.sun-moon-sum {
  display: flex;
  align-items: center;
}

.rise-set {
  display: flex;
  flex-direction: column;
}

.rise-set .rise-icon {
  height: 2.4rem;
  width: 2.4rem;
  background-image: url("assets/sunrise.png");
  background-size: contain;
}

.rise-set .rise-icon.rise-icon--set {
  filter: grayscale(100%);
}

.rise-set .title {
  font-size: 1rem;
  color: #1c7ed6;
}
.rise-set .time {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.sun-moon-img {
  height: 9.6rem;
}

/* ********************** */
/* **** Weather Forecast* */
/* ********************** */

.forecast {
  border-radius: 20px;
  padding: 2.4rem;
  background-color: #0c101d;
  height: 66rem;
}

.weather-forecast {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.weather-forecast .forecast-header {
  padding: 0 1.6rem;
}

.weather-forecast .menu {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  margin-bottom: 2.4rem;
}

.weather-forecast .menu .menu-item {
  font-size: 1.2rem;
  color: #adb5bd;

  display: flex;
  align-items: center;
}

.weather-forecast .menu .menu-item.active {
  color: #f8f9fa;
  border-bottom: 1px solid #f8f9fa;
}

.weather-forecast .menu .menu-btn {
  padding: 1rem 2.4rem;
  background-color: #1c7ed6;
  border-radius: 9px;
  font-size: 1.2rem;
  color: #f8f9fa;
  margin-left: auto;
}

.forecast-data {
  overflow: scroll;
}

/* .forecast-table {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
} */

.hourly-forecast {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

/* .forecast-record:not(:last-child) {
  border-bottom: 1px solid #343a40;
} */

.grid-theme {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  align-items: center;
}

.forecast-table .summary .sky-icon,
.forecast-table .details .temperature {
  grid-row: 1/-1;
}

.forecast-table .summary {
  margin: 2rem;
  padding-right: 1.6rem;
  border-right: 1px solid #343a40;
  justify-self: end;
}

.forecast-table .summary .sky-icon {
  height: 4rem;
  width: 4rem;
  justify-self: end;
}

.forecast-table .summary .time {
  font-size: 1.2rem;
  color: #868e96;
}

.forecast-table .summary .sky {
  font-size: 1.2rem;
  font-weight: 500;
  color: #adb5bd;
  max-width: 20rem;
}

.forecast-table .details {
  padding: 1.6rem 2.4rem;
}

.forecast-table .details .temperature {
  display: flex;
  align-items: start;
  gap: 0.2rem;
}

.forecast-table .details .temperature .value {
  font-size: 3rem;
  color: #adb5bd;
}

.forecast-table .details .temperature .scale {
  display: inline-block;
  margin-top: 0.2rem;
  font-size: 1.2rem;
  color: #868e96;
}

.forecast-table .details .details-text {
  font-size: 1.2rem;
  color: #868e96;
}

.forecast-table .daily-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  padding: 1.5rem;
}

.forecast-table .daily-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
}

.daily-forecast-date .day {
  font-size: 1.4rem;
  color: #868e96;
  display: inline-block;
  min-width: 3.2rem;
  font-weight: 500;
}

.daily-forecast-date .date {
  font-size: 1.2rem;
  color: #495057;
}

.daily-summary {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.daily-summary .sky-icon {
  height: 4.8rem;
  width: 4.8rem;
}

.daily-summary .sky {
  font-size: 1.4rem;
}

.daily-forecast-temps .max {
  font-size: 1.6rem;
  color: #f8f9fa;
}

.daily-forecast-temps .min {
  font-size: 1.2rem;
  color: #868e96;
}
